<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <h1>Gracias por subir tu producto</h1>
    <a href="./products">Ver listado de productos</a>
  </body>
</html>