doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1=title 
        form(action="/formulario" method="POST" class="form")
            input(type="text" placeholder="Producto" name="titulo")
            input(type="number" placeholder="Precio" name="precio")
            input(type="text" placeholder="URL de imagen" name="thumbnail")
            input(type="submit" value="Subir producto")
