html
    head
        title='test pug'
    body
        h1=msg
        a(href="./formulario" style="margin-right: 2rem;")="Ingresar un producto"
        a(href="./products" style="margin-right: 2rem;")="Ver listado de productos"